.feedbackF {
  height: 100vh;
  width: 100vw;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
}
.testimonial-list {
  padding-top: 10%;
}

input[type="radio"] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container {
  padding: 15% 10%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
  transition: background 0.4s ease-in;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

/* src/components/TestimonialCard.css */

.testimonial-card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 18px 0px;
  padding: 10%;
  position: relative;
  border-radius: 10px;
  height: 35%;
  background-color: rgb(255, 255, 255);
  background-image: radial-gradient(
      circle at 20% -30%,
      rgba(32, 201, 151, 0.3) 0%,
      rgba(32, 201, 151, 0) 35%
    ),
    radial-gradient(
      circle at 10% 70%,
      rgba(245, 169, 87, 0.25) 0%,
      rgba(255, 196, 19, 0) 40%
    ),
    radial-gradient(
      circle at 70% 3%,
      rgba(219, 66, 198, 0.22) 0%,
      rgba(245, 169, 87, 0) 40%
    ),
    radial-gradient(
      circle at 134% 26%,
      rgba(208, 53, 65, 0.1) 10%,
      rgba(208, 53, 65, 0) 0%
    ),
    radial-gradient(
      circle at 90% 100%,
      rgba(113, 46, 195, 0.1) 5%,
      rgba(245, 169, 87, 0) 50%
    );
  cursor: pointer;
}

.testimonial-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.testimonial-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.testimonial-company {
  color: #666;
}

.show-more-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}
