.skillsMain {
  width: 100vw; /* 100% of the viewport width */
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

.header2S {
  position: absolute;
  top: 208%;
  left: 44%;
  font-size: 2.2em;
  text-align: center;
}

.header2S::after {
  content: "";
  display: block;
  width: 13rem;
  height: 0.3125rem;
  margin: 0px auto;
  /* position: absolute; */
  background-image: linear-gradient(
    92deg,
    rgb(48, 207, 208) 10%,
    rgb(113, 46, 195) 50%,
    rgba(219, 66, 198, 0) 95%
  );
}

.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  position: relative;
}

.skillsName {
  color: rgb(162, 164, 167);
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}

.softSkillsS {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10%;
}

.softSkill {
  width: 10%;
  color: rgb(113, 128, 148);
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
  padding: 0 5%;
  border-right: 0.05rem solid rgb(162, 164, 167);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    92deg,
    rgb(106, 104, 217) 0%,
    rgb(218, 108, 174) 60%,
    rgb(245, 169, 87)
  );
}
.softSkillLast {
  width: 10%;
  color: rgb(113, 128, 148);
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
  padding: 0 5%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    92deg,
    rgb(106, 104, 217) 0%,
    rgb(218, 108, 174) 60%,
    rgb(245, 169, 87)
  );
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15%;
}

svg {
  width: 114px;
  height: 114px;
}

.bg {
  fill: none;
  stroke-width: 10px;
  stroke: #e0e7ef;
}

[class^="meter-"] {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.meter-1 {
  stroke-dasharray: 360;
  stroke-dashoffset: 60;
  stroke: #31cfd0;
  animation: progress-1 1s ease-out;
}
.meter-2 {
  stroke: #4cb5cf;
  stroke-dasharray: 360;
  stroke-dashoffset: 60;
  animation: progress-2 0.75s ease-out;
}
.meter-3 {
  stroke: #5f84ca;
  stroke-dasharray: 360;
  stroke-dashoffset: 60;
  animation: progress-3 0.5s ease-out;
}

.meter-4 {
  stroke: #5f84ca;
  stroke-dasharray: 360;
  stroke-dashoffset: 60;
  animation: progress-4 0.5s ease-out;
}
.meter-5 {
  stroke: #5f84ca;
  stroke-dasharray: 360;
  stroke-dashoffset: 60;
  animation: progress-5 0.5s ease-out;
}
.meter-6 {
  stroke: #d689d1;
  stroke-dasharray: 360;
  stroke-dashoffset: 100;
  animation: progress-6 0.5s ease-out;
}
.meter-7 {
  stroke: #7136c4;
  stroke-dasharray: 360;
  stroke-dashoffset: 160;
  animation: progress-7 0.5s ease-out;
}
.meter-8 {
  stroke: #c93fc6;
  stroke-dasharray: 360;
  stroke-dashoffset: 60;
  animation: progress-8 0.5s ease-out;
}
.meter-9 {
  stroke: #df89d2;
  stroke-dasharray: 360;
  stroke-dashoffset: 190;
  animation: progress-9 0.5s ease-out;
}
.meter-10 {
  stroke: #eed58f;
  stroke-dasharray: 360;
  stroke-dashoffset: 160;
  animation: progress-10 0.5s ease-out;
}
.meter-11 {
  stroke: #fad4cd;
  stroke-dasharray: 360;
  stroke-dashoffset: 170;
  animation: progress-11 0.5s ease-out;
}
.meter-12 {
  stroke: #fad8ef;
  stroke-dasharray: 360;
  stroke-dashoffset: 90;
  animation: progress-12 0.5s ease-out;
  animation: scroll;
}

@keyframes progress-1 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 60;
  }
}

@keyframes progress-2 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 60;
  }
}

@keyframes progress-3 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 60;
  }
}

@keyframes progress-4 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 60;
  }
}

@keyframes progress-5 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 60;
  }
}
@keyframes progress-6 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 100;
  }
}
@keyframes progress-7 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 160;
  }
}
@keyframes progress-8 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 60;
  }
}
@keyframes progress-9 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 190;
  }
}
@keyframes progress-10 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 160;
  }
}
@keyframes progress-11 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 170;
  }
}
@keyframes progress-12 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 90;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .skillsMain {
    width: 100%;
    height: auto;
  }
  .header2H {
    width: 200px;
  }
  .softSkillsS {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .softSkill,
  .softSkillLast {
    width: 35%;
    font-size: small;
    padding-top: 5%;
    border: none;
  }

  .dashboard {
    padding-top: 30%;
  }
  .tag {
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .skillsMain {
    width: 100%;
    height: auto;
  }
  .header2H {
    width: 200px;
  }
  .softSkillsS {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .softSkill,
  .softSkillLast {
    width: 35%;
    font-size: small;
    padding-top: 5%;
    border: none;
  }

  .dashboard {
    padding-top: 30%;
  }
  .tag {
    padding-bottom: 50px;
  }
}
